.actual-content
{
    background: rgba(24, 23, 23, 0.8);
}

section
{
    margin-top: 100px;
    background: rgba(255, 255, 255);
    padding: 50px;
}

h1
{
    padding-top: 100px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 2.5em;
    color: rgb(187, 180, 180);
    margin-bottom: 35px;
    text-align: center;
}

h2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 2.5em;
    color: rgb(179, 20, 25);
    margin-bottom: 35px;
}

p{
    padding: 30px;
    font-size: 20px;

}

.from {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
}

td{
    padding: 5px;
}

#productInfo, #personalInfo
{
    margin: 20px;
}

div#button {
    text-align: center;
    width: 100%;
}

input[type="checkbox"]{
    margin: 20px;
}
 
input[type='submit'], input[type='button'] {
    font-size: 1em;
    padding: 5px 20px;
    margin: 15px;
    background: rgba(110, 195, 228, 0.616);
}